# ---> Go
# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

# debugging
.vscode/
.idea/
.cursor/
*.log

# AI rules
.cursorrules
*/*.mdc

# mac
.DS_Store
.Trash

# binary
bin/
__debug_bin*

# config files
*.yml
*.yaml
*.json
*.toml
*.ini
*.conf
*.cfg
*.env
